<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VBL_Masterpoints_vb.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VBL_Masterpoints_vb.mp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <VBL_Masterpoints_vb.My.MySettings>
            <setting name="standardPairs" serializeAs="String">
                <value>Clubtornooi</value>
            </setting>
        </VBL_Masterpoints_vb.My.MySettings>
        <VBL_Masterpoints_vb.mp>
            <setting name="standardPairs" serializeAs="String">
                <value>Clubtornooi</value>
            </setting>
            <setting name="standardIndiv" serializeAs="String">
                <value>Individueel</value>
            </setting>
        </VBL_Masterpoints_vb.mp>
    </userSettings>
</configuration>